<div class="contacts">
    <h2>Контакты</h2>
    <p>Адрес: ул. Волотовская, 65</p>
    <p>Телефон: +375447475810</p>
    <p>Email: Aberezkin954@gmail.com</p>
    <form method="post" action="../check_email.php">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <label for="message">Сообщение:</label>
        <textarea id="message" name="message" required></textarea>
        <button type="submit">Отправить</button>
    </form>
</div>
