<header>
    <h1>Магазин автомобилей</h1>
    <nav>
        <ul>
            <li><a href="../index.php">Главная</a></li>
            <li><a href="../about_page.php">О нас</a></li>
            <li><a href="../contacts.php">Контакты</a></li>
        </ul>
    </nav>
</header>